.unity-toggle {
    align-items: center;
}

.unity-toggle__label {
    min-width: auto;
    margin-right: 10px;
}

.unity-toggle__checkmark {
    width: 25px;
    height: 25px;
}

.settings-scroll-view {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.horizontal-layout {
    flex-direction: row;
}

.toggles-container {
    flex-direction: column;
    align-items: flex-end;
}

.documentation-button {
    width: 215px;
    margin-top: 10px;
}
